section#projects.projects(data-scroll-section data-scroll-section-id="#projects")
  .container
    .flex.items-baseline
      h2.mb-8 Проекты
      span.pl-2.text-accent!=i18n.projects.length
  .projects-inner
    .container
      .relative
        div(class="lg:flex -mx-6 md:-mx-8 lg:-mx-0 lg:mt-8")
          div(class="lg:w-1/2")
            .swiper-pagination
          div(class="lg:w-1/2")
            .swiper.projects-swiper
              .swiper-scrollbar.projects-scrollbar
              .swiper-wrapper
                each project in i18n.projects
                  .swiper-slide
                    div.flex.flex-col.h-full
                      div.swiper-title!=project.title
                      div.swiper-text!=project.text
                      div.swiper-stack
                        each item in project.stack
                          p!=item
                      div.swiper-year!=project.year

            .projects-controls
              .projects-prev.projects-arrow
                .transform.rotate-180
                  include ../general/arrow.pug
              .projects-next.projects-arrow
                  include ../general/arrow.pug